name: cpp ci/cd-pipeline-project

on:
  push:
    branches: 
      - master
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Compiler installation
        run: |
          sudo apt update
          sudo apt install -y 

      - name: Compile project
        run: |
          g++ cppunit_test.cc -o cppunit_test

      - name: runs test
        run: |
          ./cppunit_test --output-on-failure 

  build:
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build image
        run: |
          docker build -t cppunit:${{ github.ref_name }}

      - name: Push images
        run: |
          docker push cppunit:${{ github.ref_name }}

  notify:
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Google Chat notification
        env: 
          GOOGLE_CHAT_WEBHOOK: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
        run: |
          if [ "${{ job.status }}" == "success" ]; then
            STATUS_MESSAGE="Deployment successful! Docker image pushed to Docker Hub."
          else
            STATUS_MESSAGE="Deployment failed."
          fi
          
          curl -X POST -H 'Content-Type: application/json' \
          -d "{\"text\": \"$STATUS_MESSAGE\"}" \
          "$GOOGLE_CHAT_WEBHOOK"
